@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,700');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #212529;
  margin-top: 57px;
  margin-bottom: 50px;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.jumbotron {
  background-image: url("../img/bg_jumbotron.png");
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 250%;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 1.2rem;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 300;
}

.lead {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.white-text {
  color: #ffffff;
}

.grey-text {
  color: #9e9e9e;
}

.orange-text {
  color: #e67e22;
}

#services .row {
  margin-bottom: 2rem;
}

.ribbon {
  padding: 4rem 0;
  background-color: #e67e22;
  font-size: 1.5rem;
  font-weight: 700;
}

section {
  padding: 3rem 0;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card-header h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.card-body p {
  margin-bottom: 0;
}

.pricing-price {
  font-weight: 700;
  font-size: 2rem;
}

#gallery img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #343a40;
  padding: 1rem 0;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  margin: 0;
}

#contact {
  margin: 0;
  background-color: #394046;
  color: #fff;
}

#pricing {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.table-reservations tr td {
  border: 1px solid #eeeeee;
}

.table-reservations td {
  padding: 0 1rem;
}

.table-reservations th {
  text-align: center;
}

.td-free {
  background-color: #28a745;
}

.td-free:hover {
  background-color: #46d267;
}

.td-reserved {
	background-color: #dc3545;
	color: black;
	text-align: center;
}

.alert ul {
  margin: 0;
}

.jumbotron-box {
  padding: 1rem 2rem;
  min-height: 270px;
  background-color :rgba(0,0,0,0.7);
}

.jumbotron-box h2 {
  font-size: 150%;
}

.jumbotron-box p {
  font-size: 0.9rem;
}

html {
  position: relative;
  min-height: 100%;
}

#ui-datepicker-div {display: none;}